<ion-header>
    <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>


<ion-header>
  <ion-navbar color="dark">
      <ion-title *ngIf="!isOn">    
          <button ion-button menuToggle="left" start>
          <ion-icon name="menu"></ion-icon>Collaboration 
        </button></ion-title>
        <div id="search" class="search-button-star">
      <ion-searchbar *ngIf="isOn"  (ionCancel)="onCancel($event)" animated="true"></ion-searchbar>
    </div>
      <ion-buttons end>
        <button ion-button icon-only (click)="toggleDetails()">
            <ion-icon name="search"></ion-icon>
          </button>
    </ion-buttons>

    <button ion-button menuToggle="right" end>
        <ion-icon name="menu"></ion-icon> 
     </button>
     
  </ion-navbar>

</ion-header>


<ion-content>
<!-- <h1 style=" color: white;">Hello Collaboration</h1> -->

<ion-grid class="secondry-content">
  <ion-list >
      <ion-item color="dark2">
          <ion-row>
              <ion-col>            
                  <h2> <ion-icon ios="ios-person-outline" md="md-person"></ion-icon> Cher</h2>
              </ion-col>
              <ion-col>            
                  <!-- <ion-icon ion-icon float-right name ios="ios-more-outline" md="md-more"></ion-icon> -->
                  <ion-fab fab-mini-size="10px" right edge>
                    <button ion-fab color="dark2" mini><ion-icon name="ios-more-outline"></ion-icon></button>
                    <ion-fab-list side="left">
                      <ion-icon name="md-trash"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-camera"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-create"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-attach"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-add"></ion-icon>&nbsp;&nbsp;
                    </ion-fab-list>
                  </ion-fab>
              </ion-col>             
            </ion-row>
          
        <p>Hey Andrey how`s it going?</p>
        <p>I got some documents to discuss with you.</p>
        <p>Are you able to come over this afternoon?</p> 
      </ion-item>

      <ion-item color="dark2">
          <ion-row>
              <ion-col>            
                  <h2> <ion-icon ios="ios-person-outline" md="md-person"></ion-icon> Sonu</h2>
              </ion-col>
              <ion-col>            
                   <!-- <ion-icon ion-icon float-right name ios="ios-more" md="md-more"></ion-icon> -->
                   <ion-fab fab-mini-size="10px" right edge>
                    <button ion-fab color="dark2" mini><ion-icon name="ios-more-outline"></ion-icon></button>
                    <ion-fab-list side="left">
                      <ion-icon name="md-trash"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-camera"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-create"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-attach"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-add"></ion-icon>&nbsp;&nbsp;
                    </ion-fab-list>
                  </ion-fab>
              </ion-col>             
            </ion-row>
          
        <p>Hey Andrey how`s it going?</p>
        <p>I got some documents to discuss with you.</p>
        <p>Are you able to come over this afternoon?</p> 
      </ion-item>
      <ion-item color="dark2">
          <ion-row>
              <ion-col>            
                  <h2> <ion-icon ios="ios-person-outline" md="md-person"></ion-icon> Daniel</h2>
              </ion-col>
              <ion-col>            
                 <!-- <ion-icon ion-icon float-right name ios="ios-more-outline" md="md-more"></ion-icon> -->
                 <ion-fab fab-mini-size="10px" right edge>
                  <button ion-fab color="dark2" mini><ion-icon name="ios-more-outline"></ion-icon></button>
                  <ion-fab-list side="left">
                    <ion-icon name="md-trash"></ion-icon>&nbsp;&nbsp;
                    <ion-icon name="md-camera"></ion-icon>&nbsp;&nbsp;
                    <ion-icon name="md-create"></ion-icon>&nbsp;&nbsp;
                    <ion-icon name="md-attach"></ion-icon>&nbsp;&nbsp;
                    <ion-icon name="md-add"></ion-icon>&nbsp;&nbsp;
                  </ion-fab-list>
                </ion-fab>
              </ion-col>             
            </ion-row>
          
        <p>Hey Andrey how`s it going?</p>
        <p>I got some documents to discuss with you.</p>
        <p>Are you able to come over this afternoon?</p> 
      </ion-item>

      <ion-item color="dark2">
          <ion-row>
              <ion-col>            
                  <h2> <ion-icon ios="ios-person-outline" md="md-person"></ion-icon> Michel</h2>
              </ion-col>
              <ion-col>            
                  <!-- <ion-icon ion-icon float-right name ios="ios-more-outline" md="md-more"></ion-icon> -->
                  <ion-fab fab-mini-size="10px" right edge>
                    <button ion-fab color="dark2" mini><ion-icon name="ios-more-outline"></ion-icon></button>
                    <ion-fab-list side="left">
                      <ion-icon name="md-trash"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-camera"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-create"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-attach"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-add"></ion-icon>&nbsp;&nbsp;
                    </ion-fab-list>
                  </ion-fab>
              </ion-col>             
            </ion-row>
          
        <p>Hey Andrey how`s it going?</p>
        <p>I got some documents to discuss with you.</p>
        <p>Are you able to come over this afternoon?</p> 
      </ion-item>

      <ion-item color="dark2">
          <ion-row>
              <ion-col>            
                  <h2> <ion-icon ios="ios-person-outline" md="md-person"></ion-icon> Cher</h2>
              </ion-col>
              <ion-col>            
                  <!-- <ion-icon ion-icon float-right name ios="ios-more-outline" md="md-more"></ion-icon> -->
                  <ion-fab fab-mini-size="10px" right edge>
                    <button ion-fab color="dark2" mini><ion-icon name="ios-more-outline"></ion-icon></button>
                    <ion-fab-list side="left">
                      <ion-icon name="md-trash"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-camera"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-create"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-attach"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-add"></ion-icon>&nbsp;&nbsp;
                    </ion-fab-list>
                  </ion-fab>
              </ion-col>             
            </ion-row>
          
        <p>Hey Andrey how`s it going?</p>
        <p>I got some documents to discuss with you.</p>
        <p>Are you able to come over this afternoon?</p> 
      </ion-item>

      <ion-item color="dark2">
          <ion-row>
              <ion-col>            
                  <h2> <ion-icon ios="ios-person-outline" md="md-person"></ion-icon> Cher</h2>
              </ion-col>
              <ion-col>            
                 <!-- <ion-icon ion-icon float-right name ios="ios-more-outline" md="md-more"></ion-icon> -->
                 <ion-fab fab-mini-size="10px" right edge>
                  <button ion-fab color="dark2" mini><ion-icon name="ios-more-outline"></ion-icon></button>
                  <ion-fab-list side="left">
                    <ion-icon name="md-trash"></ion-icon>&nbsp;&nbsp;
                    <ion-icon name="md-camera"></ion-icon>&nbsp;&nbsp;
                    <ion-icon name="md-create"></ion-icon>&nbsp;&nbsp;
                    <ion-icon name="md-attach"></ion-icon>&nbsp;&nbsp;
                    <ion-icon name="md-add"></ion-icon>&nbsp;&nbsp;
                  </ion-fab-list>
                </ion-fab>
              </ion-col>             
            </ion-row>
          
        <p>Hey Andrey how`s it going?</p>
        <p>I got some documents to discuss with you.</p>
        <p>Are you able to come over this afternoon?</p> 
      </ion-item>   

      <ion-item color="dark2">
          <ion-row>
              <ion-col>            
                  <h2> <ion-icon ios="ios-person-outline" md="md-person"></ion-icon> Cher</h2>
              </ion-col>
              <ion-col>            
                  <!-- <ion-icon ion-icon float-right name ios="ios-more-outline" md="md-more"></ion-icon> -->
                  <ion-fab fab-mini-size="10px" right edge >
                    <button ion-fab color="dark2" mini><ion-icon name="ios-more-outline"></ion-icon></button>
                    <ion-fab-list side="left">
                      <ion-icon name="md-trash"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-camera"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-create"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-attach"></ion-icon>&nbsp;&nbsp;
                      <ion-icon name="md-add"></ion-icon>&nbsp;&nbsp;
                    </ion-fab-list>
                  </ion-fab>
              </ion-col>             
            </ion-row>
          
        <p>Hey Andrey how`s it going?</p>
        <p>I got some documents to discuss with you.</p>
        <p>Are you able to come over this afternoon?</p> 
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content> 


